.navbar-nav{
    margin-left: auto !important;
    display: block;
}
li{
    display:inline-block;
}
button{
    border: none;
  padding: 3px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
    background: rgb(54, 175, 84);
    border-radius: 10px;
  }
  button:hover{
    background: rgb(29, 107, 48);

  }
  a{
      color: black;
  }