<!-- <form [formGroup]='createForm'  (ngSubmit)='create()'>
    <div class="form-group">
        <input formControlName='username' type="text" class="form-control w-75" placeholder="username">
    </div>
    <div class="form-group">
        <input formControlName='password' type="password" class="form-control w-75" placeholder="password">
    </div>
    <button class="btn btn-info" type="submit">
        Submit
    </button>
</form>
 -->



<div class="container mt-5">
    <div class=" row  m-auto w-50 content-div shadow mb-5">
       <div class="col-8 m-auto text-center py-5">
            <img src="../../assets/images/createuser/icons8-chat-96.png" class="m-auto" alt="">
            <form [formGroup]='createForm'  (ngSubmit)='create()' >
                <div class="">
                    <input formControlName='username' type="text" class=" my-2 w-100 mx-auto" placeholder="username">
                </div>
                <div class="">
                    <input formControlName='password' type="password" class=" my-2 w-100 mx-auto" placeholder="password">
                </div>
                <button class=" w-100 my-3" type="submit">
                    Register
                </button>
            </form>
            <p>Already registerd ? <a routerLink='/login'>Login</a></p>
            <div *ngIf='error' class="alert alert-danger">
                {{error}}
            </div>
       </div>
      </div>
</div>